body {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  }

.main-column {
    width: 200px;
    height: 250px; 
    margin-top: 100px;
    margin-bottom: 80px; 
    text-align: center; 
    font-family: 'Roboto Mono', sans-serif;
} 

.general-column {
    text-align: center; 
    font-family: 'Roboto Mono', sans-serif;
}

#search-section h1 {
    font-size: 30px; 
    margin-bottom: 20px;
}

h2 {
    font-family: 'Quicksand', sans-serif; 
    font-size: 15px; 
}

#search-section {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    background: #F6EAEA;
    box-shadow: 0 0 3px rgba(191, 175, 156, 0.9);
    position: relative;
}

ul {
    list-style-type: none;
    padding-inline-start: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.github-icon {
    line-height: 2; 
    font-size: 3rem; 
}

.search-cat {
    position: absolute;
    left: -200px; 
    top: 20px; 
    width: 75%; 
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    pointer-events: none;
}

input {
    font-size: 16px;
    margin-top: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 3px solid #E2E2E2;
    width: 100%;
 }
 
 input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px #F6EAEA;
  }

 input:focus {
   border-bottom: solid 4px #DB5D43;
   background: transparent;
   color: #DB5D43;
}

 #search {
    font-family: 'Roboto Mono', sans-serif;
    color: white; 
    outline: 0;
    margin-top: 10px; 
    padding: 5px 10px;
    background: #66454D;
    border: none;
    font-size: 15px; 
    position: relative;
 }

 .features {
    display: flex;
    flex-shrink: 1;
 }

 .features h1 {
    width: 200px;
    font-size: 18px;
    margin: 0 auto;
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
 }

 #your-repositories {
     margin-bottom: 45px;
 }

 .features h2 {
     margin-top: 20px;
     margin-bottom: 30px;
     font-size: 18px;
 }

 .features h3 {
     font-size: 20px;
 }

 .features span {
    font-size: 17px;
    color: #DB5D43
 }

 .features p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 30px;
    width: 450px;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #DB5D43;
 }

 #myChart {
    max-width: 100% !important;
    margin: 0 auto;
 }

 @media only screen and (max-width: 767px) {
    .search-cat {
        position: static;   
        width: 70%; 
    } 

    .main-column {
        height: 400px;
    }
 }